@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

* {
    margin: 0;
}

.icon {
    display: none;
    color: white;
    font-size: 4vh;
    padding: 2vh; 
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #418dbd;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar .title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .title>h1 {
    color: white;
    padding: 1vh;
    font-family: 'Poppins', sans-serif;
}

.navbar .pages>ul {
    padding: 0;
}

.navbar .pages>ul>li {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: white;

    padding: 0.5em;
}

.navbar .pages>ul>li:hover {
    color: #dbdbdb;
}

.navbar .pages>ul>li>a {
    user-select: none;
    color: inherit;
    text-decoration: none;
}

.navbar .mobile-dropdown {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.navbar .account-dropdown {
    color: white;
}

.navbar .account-dropdown #desktop {
    padding-right: 2em;
}

.navbar .account-dropdown #mobile, .navbar .account-dropdown #desktop {
    font-family: 'Poppins', sans-serif;
}

.navbar .account-dropdown #mobile {
    display: none;
}

.navbar .account-dropdown:hover .dropdown-content {
    display: block;
}

.navbar .account-dropdown .dropdown-content {
    display: none;
    position: absolute;

    background-color: #b8b1b1;
}

.navbar .account-dropdown .dropdown-content ul {
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    padding: 0;
}

.navbar .account-dropdown .dropdown-content ul>li>a {
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
}

.navbar .account-dropdown .dropdown-content>ul>li:hover {
    background-color: rgb(107, 107, 107);
}

@keyframes show {
    0% {
        overflow: hidden;
        margin: -30%;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin: 0;

    }
}

@media screen and (max-width: 600px) {
    .icon {
        display: block;
    }

    .drop-hide {
        opacity: 0;
        height: 0 !important;
    }
    
    .drop-show {
        animation: show 0.5s;
    }


    #mobile-dropdown, .account-dropdown, .navbar .account-dropdown #mobile {
        width: 100%;
    }
    
    .navbar {
        flex-direction: column;
    }

    .navbar .title {
        width: 100%;
        justify-content: space-around;
    }

    .navbar .pages>ul>li {
        display: block;
        text-align: center;
    }

    .navbar .mobile-dropdown {
        flex-direction: column;
    }

    .navbar .account-dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .account-dropdown #mobile {
        display: block;
        text-align: center;
        border-top: 2px solid;
        border-color: white;
    }

    .navbar .account-dropdown #desktop {
        display: none;
    }

    .navbar .account-dropdown .dropdown-content {
        display: block;
        position: static;
        background-color: transparent;

        font-family: 'Poppins', sans-serif;
    }

    .navbar .pages>ul>li, .navbar .account-dropdown .dropdown-content>ul>li {
        padding: 1vh;
    }

    .navbar .account-dropdown .dropdown-content>ul>li:hover {
        background-color: transparent;
    }

}