:root {
    --top-bg: #4D97DB;
    --logo-text: white;
    --logo-font: 'Poppins', sans-serif;
    --logo-font-size: 1.8em;
    --logo-font-weight: 500;

    --bottom-bg: #FFFFFF;
    --bottom-font: 'Poppins', sans-serif;
    --bottom-font-weight: 700;
    --bottom-font-size: 0.95em;
    --bottom-underline: #4D97DB;
}

body {
    background-color: #EEEEEE;
    margin: 0;
}

.navbar {
    background-color: var(--bottom-bg);
    width: 100%;

    display: flex;
    flex-direction: column;

    filter: drop-shadow(0px 5px 24px rgba(0, 0, 0, 0.09));

    z-index: 1;
}

/* Top */
.navbar>.top {
    background-color: var(--top-bg);
    color: var(--logo-text);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar>.top>h1 {
    font-family: var(--logo-font);
    font-weight: var(--logo-font-weight);
    font-size: var(--logo-font-size);
    padding-left: 30px;

    padding: 0.4em;

    user-select: none;

    margin: 0;
}

.navbar>.top>h1>a {
    user-select: none;
    text-decoration: none;
    color: inherit;
}


/* Account Settings */
.navbar>.top>.account {
    display: flex;
    flex-direction: row;
    align-items: center;

    user-select: none;

    padding-right: 1em;
}

.navbar>.top>.account>a>svg {
    fill: white;
    padding: 0.3em;
    transition: fill 0.1s ease-in-out;
}

.navbar>.top>.account>a>svg:hover {
    fill: rgb(214, 214, 214);
}

.navbar>.top>.account>p {
    font-family: var(--logo-font);
    font-weight: 500;
}

/* Bottom */
.navbar>.bottom>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    padding-left: 5px;
}

.navbar>.bottom>ul>li {
    float: left;

    font-family: var(--bottom-font);
    font-weight: var(--bottom-font-weight);
    font-size: var(--bottom-font-size);
    letter-spacing: 2px;

    padding: 0.8em;

    user-select: none;

    text-transform: uppercase;
}

.navbar>.bottom>ul>li>a {
    color: inherit;
    text-decoration: none;
}


.navbar>.bottom>ul>li>a:hover {
    text-decoration: underline rgba(77, 151, 219, 0.6);
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.navbar>.bottom>ul>li.active>a {
    text-decoration: underline var(--bottom-underline);
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;

}
