@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

:root {
    --bg: #79C3F0;
    --bg-radius: 10px;

    --input-color: white;
    --input-radius: 5px;
    --input-shadow: 1px 3px 2px rgba(0, 0, 0, 0.25);
    --input-shadow-select: 2px 6px 8px rgba(0, 0, 0, 0.25);

    --text-color: #4C6085;
    --text-size: 1.8em;
    --text-font: 'Poppins', sans-serif;

    --login-bg: #4D97DB;
    --login-bg-hover: #4f95d6;
    --login-text: white;
    --login-radius: 3px;
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content>h1 {
    font-size: 72px;
    font-family: var(--text-font);
    margin: 0;
}

.card {
    width: 60%;
    height: 60%;

    background-color: var(--bg);
    border-radius: var(--bg-radius);
}

.card>.form, form {
    height: 100%;
}

.card>.form>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;;
}

/* Message */
.card>.message {
    text-align: center;
    font-family: var(--text-font);
    color: var(--text-color);
}

/* Form Styling */
form>.input {
    width: 80%;
}

form>.input>input {
    width: 100%;

    background-color: var(--input-color);
    border-radius: var(--input-radius);
    box-shadow: var(--input-shadow);
    border: 0;

    padding: 1em;

    transition: box-shadow 0.1s ease-in-out;
}

form>.input>input:hover {
    box-shadow: var(--input-shadow-select);
}

form>.input>input:focus {
    outline: none;
}

form>.input>p {
    color: var(--text-color);
    font-size: var(--text-size);
    font-family: var(--text-font);

    margin: 0.5em 0 0.5em 0;
}

/* Button */
form>.button {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

form>.button>input {
    padding: 0.2em 2em;
    font-size: 1.5em;
    background-color: var(--login-bg);

    color: var(--login-text);

    border: 0;
    border-radius: var(--login-radius);

    font-family: var(--text-font);
}

form>.button>input:hover {
    background-color: var(--login-bg-hover);
}

/* Bottom Text */
form>.button>p {
    text-align: center;
    width: 100%;
    color: var(--text-color);
    font-family: var(--text-font);

}

/* Mobile Responsive */
@media only screen and (max-width: 600px) {
    .card {
        width: 95%;
        height: 70%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .card>.form>form {
        justify-content: center;
    }
    
    .card>.form, form {
        height: auto;
    }
    
    form>.input {
        width: 90%;
    }
    
    form>.input>input {
        width: 100%;
        box-sizing: border-box;
    }
}
