:root {
    --welcome-color: #4D97DB;
    --welcome-font: "Cabin", sans-serif;

    --content-bg: #FFFFFF;
    --content-br: 5px;

    --title-font: "Poppins", sans-serif;
    --title-highlight: #4D97DB;

    --element-bg: #DEDDDD;
    --element-br: 5px;
    --element-margin: 0.5em;
    --element-font: "Poppins", sans-serif;
    --element-circle-bg: #4D97DB;
}

/* Generic Styling */
.welcome {
    font-family: var(--welcome-font);
    letter-spacing: 2px;
    padding: 2em;
}

.welcome>h1 {
    color: var(--welcome-color);
}

.container {
    display: flex;
    justify-content: space-around;
}

.content {
    background-color: white;
    border-radius: var(--content-br);
    width: 40%;
}

.content>h1 {
    font-family: var(--title-font);
    font-weight: 500;
    text-align: center;
}

.content>h1>span {
    color: var(--title-highlight)
}

.content>.items {
    display: flex;
    flex-direction: column;
}

/* Element Styling */
.habit, .goal {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--element-bg);
    border-radius: var(--element-br);
    margin: var(--element-margin);
}

.habit>h4, .goal>h4 {
    font-family: var(--element-font);
    width: 80%;
}

/* Habit Styling */

.habit>svg {
    padding: 1em;
}

#tick {
    opacity: 0;
}

.completed>#tick {
    opacity: 1;
}

/* Goal Styling */
.goal {
    justify-content: flex-end;
}

.goal>h4 {
    text-align: right;
}

.goal>div {
    width: 32px;
    height: 32px;
    background-color: var(--element-circle-bg);
    border-radius: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1em;
}

.goal>div>p {
    color: white;
    font-family: var(--element-font);
}