@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top>h1 {
    font-family: 'Poppins', sans-serif; 
}

.habits, .habits>div {
    text-decoration: none;
    list-style: none;

    padding: 0;
}

.habits>div {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #0087c8;
    border-radius: 20px;
}

.habits>div>h3 {
    color: #d0efff;
    font-family: 'Poppins', sans-serif;
}