@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.content {
    background-color: #6a65e0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.form>form {
    width: 100%;
}

.card {
    display: flex;
    width: 70%;
    height: 70%;

    border-radius: 20px;
    background-color: #8599D5;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
}

.card>h1 {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    text-align: center;
}

.card .message {
    color: #C14953;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #C14953;
    width: 90%;
    text-align: center;

    margin: 1em;
}

.card .image>h1 {
    margin: 0;
    margin-top: 30px;
    color: white;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.input>p {
    margin: 0;
    color: #275b8b;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

.input>input {
    font-size: 1em;
    padding: 0.8em;

    border-width: 0;
    border-radius: 20px;
}

.input>input:focus {
    outline: none !important;
    border:1px solid #78CAD2;
}


.button {
    padding-top: 0.9em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button>input {
    background-color: #9BF3F0;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    border: 0;
}

.button>input:hover {
    background-color: #74ebe7;
}

@media screen and (max-width: 600px) { 
    .card, .card .form {
        background-color: inherit;
        border-radius: 0;

        background-image: none;
    }

    .card .form {
        width: auto;
        height: auto;
    }

    .card>h1 {
        font-size: 3em;
    }

    .card {
        flex-direction: column;
        justify-content: center;
        width: 100%
    }

    .input>p {
        color: #78CAD2;
    }

    .input>input {
        font-size: 1em;
        font-family: 'Poppins', sans-serif;
        -webkit-appearance: none;

    }

    .card .form .message {
        color: white;
        border: 0;
    }

}