$day-size: 5em;
$day-bg: #C4C4C4;
$day-br: 5px;

$day-bg: #C4C4C4;
$day-br: 5px;
$day-text: #4D97DB;
$day-font: 'Cabin', sans-serif;
$day-font-size: 1.4em;

$status-size: 40px;
$status-color: #4D97DB;

$element-size: 6em;

$popup-bg: #FFFFFF;
$popup-br: 5px;
$popup-title-font: "Poppins", sans-serif;
$popup-title-font-size: 2em;
$popup-close-size: 40px;

$popup-highlight-text-color: #4D97DB;

$popup-icon-size: 40px;


.cal-title {
    color: $day-text;
    font-family: $day-font;
}

#jsonMessage {
    text-align: center;
}

.table {
    display: flex;
    justify-content: center;
}

th {
    min-width: 0;
    padding: 0;

    width: $element-size;

    color: $day-text;
    font-family: $day-font;

    user-select: none;
}

td {
    .day {
        background-color: $day-bg;
        border-radius: $day-br;

        width: $element-size;
        height: $element-size;
        box-sizing: border-box; 

        overflow: hidden;

        display: flex;
        flex-direction: column;

        transition: box-shadow 0.3s ease-in-out;

        margin: 0.3em;

        user-select: none;

        &:hover {
            box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.25);
        }

        p {
            color: $day-text;
            font-family: $day-font;
            font-size: $day-font-size;
            margin: 0;

            padding: 0.5em;
        }

        .status {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            
            svg {
                width: $status-size;
                height: $status-size;
            }
        }

        .popup {
            &.show {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
    
                display: flex;
                align-items: center;
                justify-content: center;
    
                background-color: rgba(0, 0, 0, 0.2);
            }

            &.hide {
                display: none;
            }
        
            .popup-bg {
                background-color: $popup-bg;
                border-radius: $popup-br;
                
                width: 600px;
                height: 50%;

                .top {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    position: relative;

                    h1 {
                        text-transform: uppercase;
                        
                        font-family: $popup-title-font;
                        font-size: $popup-title-font-size;

                        margin: 0;
                    }

                    h3 {
                        text-align: center;
                        color: $popup-highlight-text-color;
                        font-family: $popup-title-font;
    
                        margin: 0;
                    }

                    div {
                        position: absolute;
                        right: 0;

                        padding: 2em;

                        svg {
                            width: $popup-close-size;
                            height: $popup-close-size;

                            fill: $popup-highlight-text-color;
                        }
                    }

                    
                }


                .habits {
                    display: flex;
                    flex-direction: column;

                    height: auto;
                    max-height: 85%;
                    overflow: overlay;

                    div {
                        padding: 0em 0.5em;
                        h2 {
                            font-family: $day-font;
                            text-transform: uppercase;
                        }

                        div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            
                            padding: 0.3em;

                            #wrong {
                                color: red;
                                font-size: 0.8em;
                            }
    
                            svg {
                                width: $popup-icon-size;
                                height: $popup-icon-size;
    
                                fill: $popup-highlight-text-color;
                            }
    
                            h2  {
                                font-family: $popup-title-font;
    
                                padding: 0.5em;
                            }
                        }
                    }
                

                    
                }

               
            }
        }

        
    }

}