$day-size: 5em;
$day-bg: #C4C4C4;
$day-br: 5px;

$day-bg: #C4C4C4;
$day-br: 5px;
$day-text: #4D97DB;
$day-font: 'Cabin', sans-serif;
$day-font-size: 1.4em;

$status-size: 40px;
$status-color: #4D97DB;

$element-size: 6em;


.cal-title {
    color: $day-text;
    font-family: $day-font;
}

.table {
    display: flex;
    justify-content: center;
}

th {
    min-width: 0;
    padding: 0;

    width: $element-size;
}

td {
    .day {
        background-color: $day-bg;
        border-radius: $day-br;

        width: $element-size;
        height: $element-size;
        box-sizing: border-box; 

        overflow: hidden;

        display: flex;
        flex-direction: column;

        transition: box-shadow 0.3s ease-in-out;

        margin: 0.3em;

        &:hover {
            box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.25);
        }

        p {
            color: $day-text;
            font-family: $day-font;
            font-size: $day-font-size;
            margin: 0;

            padding: 0.5em;
        }

        .status {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            
            svg {
                width: $status-size;
                height: $status-size;
            }
        }

        
    }

}