@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

.cal-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .cal-title {
        font-size: 3em;
        font-family: 'Poppins', sans-serif;

        display: flex;
        align-items: center;
        flex-direction: column;
    }
}